html {
    overflow-x: hidden;
  }
  
  body.dark {
    --light: #0c0c1e;
    --grey: #060714;
    --dark: #fbfbfb;
  }
  
  body {
    background: var(--grey);
    overflow-x: hidden;
  }
  
  /* SIDEBAR */
  #sidebar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: var(--light);
    z-index: 2000;
    font-family: var(--lato);
    transition: 0.3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
  }
  #sidebar::--webkit-scrollbar {
    display: none;
  }
  #sidebar.hide {
    width: 60px;
  }
  #sidebar .brand {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--blue);
    position: sticky;
    top: 0;
    left: 0;
    background: var(--light);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
  }
  #sidebar .brand .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
  }
  #sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
  }
  #sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
  }
  #sidebar .side-menu li.active {
    background: var(--grey);
    position: relative;
  }
  #sidebar .side-menu li.active::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
  }
  #sidebar .side-menu li.active::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
  }
  #sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
  }
  #sidebar .side-menu.top li.active a {
    color: var(--blue);
  }
  #sidebar.hide .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: width 0.3s ease;
  }
  #sidebar .side-menu li a.logout {
    color: var(--red);
  }
  #sidebar .side-menu.top li a:hover {
    color: var(--blue);
  }
  #sidebar .side-menu li a .bx {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
  }
  #sidebar .text {
      font-weight: bold;
  }
  /* SIDEBAR */
  
  /* CONTENT */
  #content {
    position: relative;
    width: calc(100% - 280px);
    left: 280px;
    transition: 0.3s ease;
  }
  #sidebar.hide ~ #content {
    width: calc(100% - 60px);
    left: 60px;
  }
  
  /* NAVBAR */
  #content nav {
    height: 56px;
    background: var(--light);
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    font-family: var(--lato);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  #content nav::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
  }
  #content nav a {
    color: var(--dark);
  }
  #content nav .bx.bx-menu {
    cursor: pointer;
    color: var(--dark);
  }
  #content nav .nav-link {
    font-size: 16px;
    transition: 0.3s ease;
  }
  #content nav .nav-link:hover {
    color: var(--blue);
  }
  #content nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
  }
  #content nav form .form-input {
    display: flex;
    align-items: center;
    height: 36px;
  }
  #content nav form .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
  }
  #content nav form .form-input button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
  }
  #content nav .notification {
    font-size: 20px;
    position: relative;
  }
  #content nav .notification .num {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--light);
    background: var(--red);
    color: var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #content nav .profile img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
  }
  #content nav .switch-mode {
    display: block;
    min-width: 50px;
    height: 25px;
    border-radius: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
  }
  #content nav .switch-mode::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--blue);
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  #content nav #switch-mode:checked + .switch-mode::before {
    left: calc(100% - (25px - 4px) - 2px);
  }
  /* NAVBAR */
  
  /* MAIN */
  #content main {
    width: 100%;
    padding: 36px 24px;
    font-family: var(--poppins);
    max-height: calc(100vh - 56px);
    overflow-y: auto;
  }
  #content main .head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
  }
  #content main .head-title .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
  }
  #content main .head-title .left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 16px;
  }
  #content main .head-title .left .breadcrumb li {
    color: var(--dark);
  }
  #content main .head-title .left .breadcrumb li a {
    color: var(--dark-grey);
    pointer-events: none;
  }
  #content main .head-title .left .breadcrumb li a.active {
    color: var(--blue);
    pointer-events: unset;
  }

  /* main content */
  .form-product {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    grid-gap: 32px;
    width: 100%;
    max-width: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 8px; 
    margin-bottom: 8px;
}

.input-wrapper-3 {
    display: flex;
    flex-direction: row;
}

.input-label {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.input {
    padding: 8px 16px;
    font-size: 16px;
    line-height: 1.6;
    border: 1px solid var(--grey);
    border-radius: 4px;
}

.input-desc {
    color: var(--dark-grey);
    font-size: 12px;
}

.input:focus {
    border: 1px solid var(--blue);
}

.flex-row {
    flex-direction: row;
}

.flex-3 {
    flex: 3;
}

.flex-1 {
    flex: 1;
}

.input-dropdown {
    gap: 20px;
}

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-list {
    opacity: 1;
    visibility: visible;
}

.dropdown-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border-radius: 4px;
    background: var(--white);
    cursor: pointer;
    border: 1px solid transparent;
}

.dropdown-list {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    background: var(--white);
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
    box-shadow: 0 4px 8px rgb(0 0 0 / 5%);
    overflow: hidden;
}

.dropdown-item {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

.dropdown-item:hover {
    background: #ccc;
}

#description {
    border: 1px solid var(--grey);
    outline: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
    resize: none;
}

#description:focus {
    border: 1px solid var(--blue);
}

.right {
    flex: 1;
}

.input-img-wrapper {
    position: relative;
    text-align: center;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    border: 2px dashed var(--dark-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.input-img-wrapper.active {
    border: none;
}

.input-img {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-image-content .icon {
    font-size: 100px;
    color: var(--blue);
}

.input-image-content .text {
    font-size: 20px;
    font-weight: 500;
    color: var(--dark-grey);
}

.cancel-btn {
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 28px;
    color: var(--blue);
    cursor: pointer;
    display: none;
}

.file-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px 0;
    padding: 8px 0;
    color: var(--white);
    font-size: 18px;
    background: linear-gradient(135deg, var(--blue), #9658fe 100%);
    display: none;
}

.file-name.active,
.cancel-btn.active {
    display: block;
}

.custom-btn-color,
#custom-btn {
    position: relative;

    margin-top: 30px;
    width: 100%;
    height: 50px;
    display: block;
    background: linear-gradient(135deg, var(--blue), #9658fe 100%);
    border-radius: 4px;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.custom-btn-color.hide,
#custom-btn.hide {
    display: none;
}

.custom-btn-color {
    font-size: 16px;
    height: 40px;
}

#button-submit {
    background: var(--blue);
    color: var(--white);
    width: 100%;
    height: 50px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.2s linear;
}

#button-submit:hover {
    opacity: 0.8;
}

.red {
    color: var(--error);
}

.invalid > .form-message {
    font-size: 12px;
    color: var(--error);
}

.invalid > textarea,
.invalid > input {
    color: var(--error);
    border: 1px solid var(--error) !important;
    background: rgba(var(--error-rgba), 0.04);
}

.invalid > .dropdown > .dropdown-select {
    color: var(--error);
    border: 1px solid var(--error);
    background: rgba(var(--error-rgba), 0.04);
}

/* responsive */


@media screen and (max-width: 768px) {
    #sidebar {
      width: 200px;
    }
  
    #content {
      width: calc(100% - 60px);
      left: 200px;
    }
  
    #content nav .nav-link {
      display: none;
    }
  }
  
  @media screen and (max-width: 576px) {
    #content nav form .form-input input {
      display: none;
    }
  
    #content nav form .form-input button {
      width: auto;
      height: auto;
      background: transparent;
      border-radius: none;
      color: var(--dark);
    }
  
    #content nav form.show .form-input input {
      display: block;
      width: 100%;
    }
    #content nav form.show .form-input button {
      width: 36px;
      height: 100%;
      border-radius: 0 36px 36px 0;
      color: var(--light);
      background: var(--red);
    }
  
    #content nav form.show ~ .notification,
    #content nav form.show ~ .profile {
      display: none;
    }
  
    #content main .box-info {
      grid-template-columns: 1fr;
    }
  
    #content main .table-data .head {
      min-width: 420px;
    }
    #content main .table-data .order table {
      min-width: 420px;
    }
    #content main .table-data .todo .todo-list {
      min-width: 420px;
    }
  }

  @media screen and (max-width: 1250px) {
    .form-product {
      display: flex;
      flex-direction: column;
    }
  }
  